body {
  color: slategray;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background-image: url(chicago.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
}
#PageHeader {
  vertical-align: middle;
  font-family: 'Alfa Slab One', cursive;
  display: inline-block;
  height: auto;
  line-height: 100px;
  vertical-align: middle;
  color: SlateGray;
  }
h1 {
  font-size: 30px;
  font-size: 3.5vw;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
}
#wrapper img {
  height: 150px
}
#logo {
  width: 25%;
}
.table {
  text-align: left;
}
.UGHead {
  text-align: center;
}
#mini-logo {
  width: 20px;
}
#mini-player {
  width: 20px
}
